@import "variables";
@import "mixins";
@import "functions";
@import "typography";

html {
  font-family: $font-lato;
  font-size: $body-default;
  background-color: #c5e79a;
  scroll-behavior: smooth;
  font-size: 100%;

  @include md {
    font-size: $body-small;
  }
}

// html elements

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 32px;

  @include respond-to(small) {
    width: 80%;
  }

  @include respond-to(medium) {
    width: 70%;
  }

  @include respond-to(large) {
    width: 60%;
  }

  @include respond-to(extra-large) {
    width: 50%;
  }

  @include respond-to(palm) {
    width: 100%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  background-color: $bgWhite;

  @include lg {
    padding: 30px 60px;
  }

  a {
    font-weight: 500;
    color: black;
  }

  .logo {
    width: 6.25rem;
  }

  .menu {
    display: flex;
    gap: 1.875rem; //30px
  }
}

.wrapper {
  width: 100%;
  padding: 120px;

  @include lg {
    padding: 60px;
  }
}

.main-container {
  width: 100%;
  padding: 120px;

  @include lg {
    width: 100%;
    padding: 60px;
  }
}

.main-item-container-grid {
  width: 100%;
  padding: 60px;

  &.is-white {
    background-color: $bgWhite;
    border-radius: 32px;
  }
}

.grid-container-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include respond-to(medium) {
      display: flex;
      flex-direction: column;
      grid-area: 30px;

      &.column-reverse {
        flex-direction: column-reverse;
      }
  }
}

.grid-container-3c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @include respond-to(large) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(medium) {
    grid-template-columns: 1fr;
  }
}
