@import '../base/variables';
@import '../base/mixins';
@import '../base/functions';

// Estilos generales para el botón
.button {
  padding: 10px 20px;
  font-size: 1rem; // Tamaño de fuente base
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;

  // Estilos para dispositivos pequeños y superiores
  @include respond-to(small) {
    font-size: 1.1rem; // Aumenta el tamaño de fuente
  }

  // Estilos para dispositivos medianos y superiores
  @include respond-to(medium) {
    font-size: 1.2rem; // Aumenta el tamaño de fuente
  }

  // Estilos para dispositivos grandes y superiores
  @include respond-to(large) {
    font-size: 1.3rem; // Aumenta el tamaño de fuente
  }

  // Estilos para dispositivos extra grandes
  @include respond-to(extra-large) {
    font-size: 1.4rem; // Aumenta el tamaño de fuente
  }

  // Estilos para dispositivos pequeños (por debajo de 370px)
  @include respond-to(palm) {
    font-size: 0.9rem; // Reduce el tamaño de fuente
  }
}
